
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

Debug/SW.MAIN.OXP.MR.MW3.V1.0.bin

Debug/SW.MAIN.OXP.MR.MW3.V1.0.elf

Debug/SW.MAIN.OXP.MR.MW3.V1.0.hex

Debug/SW.MAIN.OXP.MR.MW3.V1.0.list

Debug/SW.MAIN.OXP.MR.MW3.V1.0.map

.settings/language.settings.xml

SW.MAIN.006_OXP_SHG.elf.launch

SW.MAIN.006_OXP_SHG Debug.launch

Debug/

Tools/01_MEM_reader/

src/Application/~$OXP-RegisterFile.xlsx

Tools/02_LogConverter/LogConverter.ini

DOC/html/
